h2 {
    text-align: center;
    font-family: monospace;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}
body {
    background: linear-gradient(#009900 1%,#990099, #009900);
}
img {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px 20px #FFFFFF 
}
.heilp {
    text-align: center;
    font-family: Impact;
    font-size: 90px;
}
h3, ol, ul {
    text-align: center;
    font-family: monospace;
    font-size: 25px;
}
li {
    list-style-position: inside;
    text-align: center;
}
a:active {
    color: steelblue;
}
a:visited {
    color: steelblue;
}
a:hover {
    color: skyblue;
}