h2 {
    text-align: center;
    font-family: monospace;
}
body {
    background-color: orange;
}
img {
    height: 250px;
    width: 250px;
    text-align: center;
}
.heilp {
    text-align: center;
    font-family: Impact;
}
h3 {
    text-align: center;
    font-family: monospace;
    padding: 50px;
}