h2 {
    text-align: center;
    font-family: monospace;
}
body {
    background-color: orange;
}
.image {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.heilp {
    text-align: center;
    font-family: Impact;
}
h3, li, ol, ul {
    text-align: center;
    font-family: monospace;
}