.title {
    text-align: center;
    /*color: #9F2B2B*/
    box-shadow: 0 0 20x 5px rgb(255, 153, 0);
    font-size: 70px;
    font-family: fantasy;
}
body {
    background:rgb(214, 238, 247);
}
.homepage {
    height: 250px;
    width: 350px;
    margin:150px auto;
}    
}
.sub {
    height: 76px;
    position: absolute;
    top:40%;
    left:120%;
    font-family: copper;
}

.title2 {
    text-align: center;
    /*color: #9F2B2B*/
    box-shadow: 0 0 20x 5px rgb(255, 153, 0);
    font-size: 30px;
    font-family: fantasy;
}
form{
    height: 50px;
    width: 300px;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    margin: center;
}
  }